form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

form fieldset{
    width: fit-content;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    transition: height 2s;
}
form fieldset legend{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

form fieldset button{
    border: 0;
    outline: 0;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid transparent;

}

form fieldset #done{
    background-color: rgba(255, 0, 0, 0.6);
    color: white;
}

form fieldset #done:hover{
    color: rgba(255, 0, 0, 0.6);
    background-color: white;
    border: 1px solid rgba(255, 0, 0, 0.6);
}

form fieldset #add-value{
    background-color: navy;
    color: white;
}
form fieldset #add-value:hover{
    border: 1px solid navy;
    background-color: white;
    color: navy;
}

form fieldset #variations input[type="text"]{
    margin: 5px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid gray;
    outline: none;
    border-radius: 5px;
}

#variation-value-list ul{
    margin: 0 !important;
    padding: 0 !important;
}

#variation-value-list ul li{
    display: none;
}

.remove-value{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: rgba(255, 0, 0, 0.3);
    color: red;
    border-radius: 5px;
    font-size: 24px;
}

.remove-value:hover{
    color: white;
    background-color: red;
}

#variation-value-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.remove-value{
    cursor: pointer;
}